body {
    background-color: #6f43ba
  }
  #survey-form{
    margin: auto;
    width: 50%;
    background-color:#a8478d;
    border-radius:5px;
    padding: 25px;
    font-size: 26;
  }
  #title, #description {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 50%;
    text-align: center;
  }
  #title {
    font-size: 50;
  }
  #description {
    font-size: 25;
  }
  #name, #email, #number, #dropdown {
    display: block;
    margin-bottom: 10px;
    font-size: 20;
    border-radius: 5px;
    border-color: grey;
    width: 100%;
  }
  textarea {
    resize: none;
    font-size: 20;
    width: 100%;
  }
  button{
    width: 100%;
    font-size: 25;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #3fba20;
    color: white;
  }
  select {
    margin-top: 20px;
  }